* {
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(circle at bottom left, #352049, #24243E,#0F0C29);
    font-family: 'futura-pt', 'Helvetica', 'Arial', sans-serif;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 50px;
}

.distance {
    color: #18E7C9;
    font-size: 44px;
    text-align: center;
}

.distance-opacity {
    opacity: 0;
}

.distance-number {
    font-size: 57px;
    font-weight: 500;
}

.progress-bar {
    background-color: #fff;
    border-radius: 100px;
    bottom: 50px;
    height: 35px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 90vw;
    overflow-x: hidden;
}

.progress-ship {
    position: absolute;
    height: 80px;
    width: auto;
    bottom: -23px;
    left: 0%;
    z-index: 5;
}

.progress {
    background: linear-gradient(to right, #264B88, #8DB8E7);
    width: 0%;
    height: 100%;
    border-radius: 100px 0px 0px 100px;
}

.milestone-box {
    background-color: tomato;
    position: absolute;
    width: 90vw;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.milestone {
    position: absolute;
    color: #fff;
    font-size: 19px;
    transform: rotate(-45deg);
    transform-origin: center left;
    bottom: 40px;
    opacity: 0;
    transition: 2s;
}

.milestone-fade-in {
    opacity: 1;
    transition: 2s;
}

.sputnik-milestone {
    left: 6%;
}

.sputnik-milestone:after {
    bottom: -31px;
    left: -25px;
    content: '';
    position: absolute;
    height: 45px;
    width: 7px;
    background-color: #57FFD9;
    border-radius: 10px 10px 0px 0px;
    transform: rotate(45deg);
}

.iss-milestone {
    left: 14%;
}

.iss-milestone:after {
    bottom: -27px;
    left: -29px;
    content: '';
    position: absolute;
    height: 45px;
    width: 7px;
    background-color: #57FFD9;
    border-radius: 10px 10px 0px 0px;
    transform: rotate(45deg);
}

.hubble-milestone {
    left: 22%;
}

.hubble-milestone:after {
    bottom: -30px;
    left: -25px;
    content: '';
    position: absolute;
    height: 45px;
    width: 7px;
    background-color: #57FFD9;
    border-radius: 10px 10px 0px 0px;
    transform: rotate(45deg);
}

.intro {
    display: flex;
    flex-direction: column;
    left: 0;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1000;
    animation: fade-out 1s forwards 4s;
}
/*
.animate-intro {
    animation: fade-out 1s forwards 4.5s;
} */

.intro-box {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.present-box {
    height: 300px;
}

.present {
    animation: scale-up .5s cubic-bezier(.87,.13,.84,.91) forwards, fade-out .3s forwards 4s;
    color: #fff;
    font-family: 'Futura PT';
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 10px;
    opacity: 0;
    text-align: center;
    text-transform: uppercase;
}

.journey {
    animation: scale-up .5s cubic-bezier(.87,.13,.84,.91) forwards .25s, full-scale-up .5s cubic-bezier(.19,.73,.65,.92) forwards 4s;
    height: 500px;
    opacity: 0;
    width: auto;
}

.lightbeam {
    bottom: -100px;
    height: 900px;
    opacity: 0;
    position: absolute;
    transform-origin: bottom center;
    width: auto;
    z-index: 0;
    animation: fade-out .3s forwards;
}

.left-beam {
    right: 35%;
    animation: turn-on-lights .2s .7s forwards, waving-lights 10s alternate-reverse infinite;
}

.right-beam {
    left: 35%;
    transform: rotate(-20deg);
    animation: turn-on-lights .2s .8s forwards, waving-lights 10s 1s alternate-reverse infinite;
}

.space-newt {
    position: absolute;
}

.moon {
    position: absolute;
    right: 100px;
    bottom: 500px;
}

.moon img{
    height: 400px;
    width: auto;
}

.animate-moon {
    animation: animate-moon 10s forwards;
}

.further-animate-moon {
    animation: further-animate-moon 5s forwards;
}

.moon-landing {
    animation: moon-landing ease-in-out 10s forwards;
}

@keyframes animate-moon {
    0% {
        transform: translateX(500px) scale(0.5);
    }
    100% {
        transform: translateX(0px) scale(1);
    }
}

@keyframes further-animate-moon {
    0% {
        transform: translate(0px, 0px) scale(1);
    }
    100% {
        transform: translate(250px, 200px) scale(4);
    }
}

@keyframes moon-landing {
    0% {
transform: translate(200px, 200px) scale(4);
    }
    100% {
transform: translate(-650px, 150px) scale(2.5);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes waving-lights {
    0% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}

@keyframes turn-on-lights {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scale-up {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes full-scale-up {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
